<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Emissão Acústica - IST SENAI</title>
</head>
<body>

	<header>
		<figure>
			<img class="imagens-site" id="imgTopo" src="img/SENAI_2024-negativada.png" alt="Logo SENAI">
			<img class="imagens-site" id="imgIST1" src="img/IST-nova.png" alt="logo IST">
		</figure>

	</header>

	<section class="conteudo-topo">
		<h1>Emissão Acústica</h1>
	</section>
	
	<br>

	<div class="table">		
		<table>
				<tbody>
				       	<tr>
				           <div>
						   <h2>ARQUIVOS PDFs</h2>
						   <br>
						   <br>
						   <button class="button">
						   		<a href="login.html" id="link-btn">
						   		<span class="actual-text">
						   		&nbsp;VISUALIZAR&nbsp;</span>
						   		<span aria-hidden="true" class="hover-text">
						   		&nbsp;VISUALIZAR&nbsp;</span></a>
						   </button>
						   </div> 
				      	</tr>
				</tbody>
		</table>
	</div>

	<br>
	<br>

	<section class="conteudo">
		<h3>O que fazemos?</h3>
		<br>
		<p>A Emissão Acústica é uma técnica não destrutiva fundamental para monitorar e detectar falhas em materiais e estruturas. Baseada na captura de ondas sonoras geradas por processos internos sob tensão, ela permite a avaliação em tempo real da integridade estrutural, ajudando na identificação precoce de danos e na implementação de estratégias preventivas de manutenção. Isso resulta em maior segurança, eficiência operacional e redução de custos com reparos. A aplicação da Emissão Acústica requer conhecimentos avançados em acústica, materiais, mecânica e instrumentação, além de uma compreensão detalhada dos padrões e normas de qualidade que regem o uso desta técnica.
		</p>
	</section>

	
	<br>
	<section class="conteudo">
		
		<h3>Quem somos nós?</h3>
		<br>
		<p>Para os profissionais que atuam nesta área, o domínio das metodologias de Emissão Acústica é crucial, pois permite a avaliação da integridade estrutural de componentes em tempo real, a identificação precoce de danos e a implementação de estratégias preventivas de manutenção. Essa abordagem não só aumenta a segurança e a eficiência operacional, mas também prolonga a vida útil dos equipamentos e reduz custos com reparos emergenciais. A aplicação da Emissão Acústica requer conhecimentos avançados em acústica, materiais, mecânica e instrumentação, além de uma compreensão detalhada dos padrões e normas de qualidade que regem o uso desta técnica.</p>
	</section>
	<br>
	<br>
		<figure>
			<img class="imagens-site" id="logoEA" src="img/EA-2.jpg" alt="foto ilustrativa">
			<figcaption>Serviço de excelência</figcaption> 
		</figure>
	<br>

	<footer class="rodape">
		<br>
		<h3>R. Armogaste José da Silveira, 612 - St. Centro Oeste, Goiânia - GO, 74560-550 / CNPJ: 03.783.850/0018-40</h3>
		<br>
		<h3>- Central de Atendimento -</h3>
		<h3>Consultora de Vendas | Denyse: (62) 99821-4019</h3>
		<h3>Engenheiro Técnico Responsável | Cícero: (62) 99942-3246</h3>
		<br>

		<figure>
			<img class="imagens-site" id="imgIST" src="img/IST-nova.png" alt="logo IST">
		</figure>
		
	</footer>

</body>

</html>