<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styleMenuADM.css">
	<title>Menu Administrador</title>
</head>
<body>

	<header>
		<figure>
			<img class="imagens-site" id="imgTopo" src="img/SENAI_2024-negativada.png" alt="Logo SENAI">
		</figure>
	</header>

	<section class="container">
		<h1>Menu - Administrativo</h1>
		<br>
		<div class="button-container">
			<a href="/empresa/pagina" class="btn">Empresas
				<svg fill="currentColor" viewBox="0 0 24 24" class="icon">
					<path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
				</svg>
			</a>
			
			<a href="/users" class="btn">Usuários
				<svg fill="currentColor" viewBox="0 0 24 24" class="icon">
					<path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
				</svg>
			</a>

			<a href="/agendamentos" class="btn">Agendamentos
				<svg fill="currentColor" viewBox="0 0 24 24" class="icon">
					<path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
				</svg>
			</a>
		</div>
		<br>
		<img id="logoEA" src="img/EA-logo.png" alt="foto ilustrativa">
	</section>

	<br>

	<footer class="rodape">
		<br>
		<h3>R. Armogaste José da Silveira, 612 - St. Centro Oeste, Goiânia - GO, 74560-550 / CNPJ: 03.783.850/0018-40</h3>
		<br>
		<h3>- Central de Atendimento -</h3>
		<h3>Consultora de Vendas | Denyse: (62) 99821-4019</h3>
		<h3>Engenheiro Técnico Responsável | Cícero: (62) 99942-3246</h3>
		<br>

		<figure>
			<img class="imagens-site" id="imgIST" src="img/IST-nova.png" alt="logo IST">
		</figure>
	</footer>

</body>

</html>
